.row{
    padding: 20px;
}

div{
    background-color: #a1b5cb;
    text-align: center;
}
@media (min-width: 268px) {

    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 600px;
    }
}

@media (max-width: 268px) {

    #fotodeperfil.img-fuluid {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 950px;
    }
}

  
#nombre {
    font-weight: bold;
    margin-top: 40%;
    margin-left: 10px;
}


   
  