<div class="row">
    <div class="col -xs12 col-sm2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodeperfil.jpg" class="rounded-circle image-fluid" id="fotodeperfil"> 
    </div>
    <div class="col -xs12 col-sm2 col-md2 col-lg2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col xs-12 col-sm2 col-md-8 col lg-8">
        <span>
            <h1>Acerca de mi</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur commodi autem magni beatae tempore ex. Perferendis illum assumenda tempore eius delectus sequi, magnam voluptate praesentium in natus, possimus dolorem vel!
    </p>
        </span>
    </div>
</div>

